p{font-family: cursive; font-size: larger; color: aliceblue;}
body{background-image: url(./images/fondopag.png);}
h1{color: black; background-color: dimgrey;}
ul{color: aliceblue;}
a{color: aliceblue; font-size: medium;}
h3{color: aliceblue; background-color: black;}
img{border-radius: 6%;}

#next {font-size: x-large;}
#back {font-size: x-large;}
#ejerjava {font-size: large;}




